{% extends 'landing.html' %}
{% load static %}

{% block body %}
  <section class="w-full h-80 mb-20 flex items-center justify-center bg-slate-600 text-white font-bold text-center text-6xl">
    <h1 class="capitalize">about us</h1>
  </section>

  <section class="w-full grid grid-cols-[repeat(auto-fit,minmax(24rem,1fr))] gap-4 px-[5%]">
    <p class="text-center text-2xl">The purpose of this logbook is for the students to record his/her activities/tasks undertaken during practical classes in the laboratory.</p>
    <p class="text-center text-2xl">Students must complete relevant entry of the logbook at the end of every practical class before leaving the laboratory.</p>
    <p class="text-center text-2xl">Logbook must be endosed by staff.</p>
  </section>
{% endblock %}
